// Variables.scss

// Colors

// Primary Colors
$primary-color-dark: #E31B6D;
$primary-color-light: #FF2D92;
$secondary: #6c757d;

// Accent Colors

// Accent 1 (Neon Pink)
$accent-1-dark: #E31B6D;
$accent-1-dark-text: black;
$accent-1-dark-gradient: linear-gradient(90deg, $accent-1-dark, #FF2D92, #E31B6D);

$accent-1-light: #FF2D92 ;
$accent-1-light-text: white ;
$accent-1-light-gradient: linear-gradient(90deg, $accent-1-light, #E31B6D, #FF2D92);

// Accent 2 (Sky Blue)
$accent-2-dark: #1B98E3;
$accent-2-dark-text: white;
$accent-2-dark-gradient: linear-gradient(90deg, $accent-2-dark, #2DBBFF, $accent-2-dark);

$accent-2-light: #2DBBFF;
$accent-2-light-text: black;
$accent-2-light-gradient: linear-gradient(90deg, $accent-2-light, $accent-2-dark, $accent-2-light);

// Accent 3 (Vibrant Gold)
$accent-3-dark: #E3A51B;
$accent-3-dark-text: black;
$accent-3-dark-gradient: linear-gradient(90deg, $accent-3-dark, #FFBD2D, $accent-3-dark);

$accent-3-light: #FFBD2D;
$accent-3-light-text: white;
$accent-3-light-gradient: linear-gradient(90deg, $accent-3-light, $accent-3-dark, $accent-3-light);

// Neutral Colors
$white: #ffffff;
$black: #000000;

// Background Colors
$background-color-light: #F7F9FC; // Light background
$background-color-dark: #111821; // Dark background

// Text Colors
$text-color-light: #000;  // Dark text (for light backgrounds)
$text-color-dark: #ffffff;  // Light text (for dark backgrounds)
$text-primary: #212529;
$text-secondary: #6c757d;

// Border and Divider Colors
$border-color-light: #f1f1f1;  // Light border color
$border-color-dark: #2a2a2a;   // Dark border color
$divider-color: #e9ecef;

// State Colors
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

// Shadows & Overlays
$shadow-color: rgba(0, 0, 0, 0.15);
$overlay-color: rgba(0, 0, 0, 0.5);

// Button Colors
$button-primary-bg: $primary-color-dark;
$button-secondary-bg: $secondary;
$button-text-color-light: $text-color-light;
$button-text-color-dark: $text-color-dark;