@import '_variables.scss'; 

@mixin respond-to($breakpoint) {
    @if $breakpoint == tablet {
        @media screen and (min-width: 768px) { 
            @content; 
        }
    }
    @if $breakpoint == desktop {
        @media screen and (min-width: 1024px) {
            @content;
        }
    }
}

:root {
    --primary-color: #{$primary-color-light};
    --background-color: #{$background-color-light};
    --text-color: #{$text-color-light};
    --border-color: #{$border-color-light};
    --divider-color: #{$divider-color};
    --accent-1: #{$accent-1-light};
    --accent-1-text: #{$accent-1-light-text};
    --accent-1-gradient: #E31B6D;
    --accent-2: #{$accent-2-light};
    --accent-2-text: #{$accent-2-light-text};
    --accent-2-gradient: #E31B6D;
    --accent-3: #{$accent-3-light};
    --accent-3-text: #{$accent-3-light-text};
    --accent-3-gradient: #E31B6D;
    --button-primary-bg: #{$button-primary-bg};
    --button-text-color-light: #{$button-text-color-light};
    transition: background-color 0.5s ease;
}

.dark {
    --primary-color: #{$primary-color-dark};
    --background-color: #{$background-color-dark};
    --text-color: #{$text-color-dark};
    --border-color: #{$border-color-dark};
    --divider-color: #{$border-color-dark};
    --accent-1: #{$accent-1-dark};
    --accent-1-text: #{$accent-1-dark-text};
    --accent-1-gradient: #E31B6D;
    --accent-2: #{$accent-2-dark};
    --accent-2-text: #{$accent-2-dark-text};
    --accent-2-gradient: #E31B6D;
    --accent-3: #{$accent-3-dark};
    --accent-3-text: #{$accent-3-dark-text};
    --accent-3-gradient: #E31B6D;
    --button-primary-bg: #{$primary-color-dark};
    --button-text-color: #{$text-color-dark};
    
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s ease;

    .accent-1-color{
        color: var(--accent-1);
    }
}

.light {
    --primary-color: #{$primary-color-light};
    --background-color: #{$background-color-light};
    --text-color: #{$text-color-light};
    --border-color: #{$border-color-light};
    --divider-color: #{$divider-color};
    --accent-1: #{$accent-1-light};
    --accent-1-gradient: #E31B6D;
    --accent-2: #{$accent-2-light};
    --accent-2-text: #{$accent-2-light-text};
    --accent-2-gradient: #E31B6D;
    --accent-3: #{$accent-3-light};
    --accent-3-text: #{$accent-3-light-text};
    --accent-3-gradient: #E31B6D;
    --button-primary-bg: #{$primary-color-light};
    --button-text-color: #{$text-color-light};

    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s ease;
}

// Base badge outline class
.badge-outline {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem; 
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 30px; 
    border: 2px solid transparent; 
    color: transparent; 
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      color: #fff;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    &:focus, 
    &:active {
      outline: none;
      color: #fff;
      box-shadow: 0px 0px 0px 4px rgba(var(--accent-color), 0.2);
    }
}
  
.badge-outline--accent1 {
--accent-color: var(--accent-1);
border-color: var(--accent-1);
color: var(--accent-1);

&:hover {
    background-color: var(--accent-1);
}

&:focus,
&:active {
    background-color: var(--accent-1);
}
}

.badge-outline--accent2 {
--accent-color: var(--accent-2);
border-color: var(--accent-2);
color: var(--accent-2);

&:hover {
    background-color: var(--accent-2);
}

&:focus,
&:active {
    background-color: var(--accent-2);
}
}

.badge-outline--accent3 {
--accent-color: var(--accent-3);
border-color: var(--accent-3);
color: var(--accent-3);

&:hover {
    background-color: var(--accent-3);
}

&:focus,
&:active {
    background-color: var(--accent-3);
}
}

.flicker {
    animation: flicker 7s infinite;
}
  
@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow:
    0 0 7px     var(--accent-1),
    0 0 10px    var(--accent-1),
    0 0 21px    var(--accent-1),
    0 0 42px    var(--accent-1),
    0 0 82px    var(--accent-1-gradient),
    0 0 92px    var(--accent-1-gradient),
    0 0 102px   var(--accent-1-gradient),
    0 0 151px   var(--accent-1-gradient);
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

// Global styles for main content area
main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1920px;
    padding-top: 80px !important;

    @include respond-to(tablet) {
        padding: 0 3rem;
    }
    
    @include respond-to(desktop) {
        padding: 0 6rem;
    }
}

nav{
    position: fixed;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1920px;
    background-color: var(--background-color);
    z-index: 2;

    @include respond-to(tablet) {
        padding: 0 3rem;
    }
    
    @include respond-to(desktop) {
        padding: 0 6rem;
    }
}

section{
    padding-top: 80px;
}


